<app-blank
  [title]="'home.HomePage' | translate"
  [sectionTitle]="'home.products' | translate"
>
  <div class="row">
    <div class="col-md-3 cerceve">
      <ul>
        <li
          (click)="changeCategory('', 'Tümü')"
          [ngClass]="request.categoryName == 'Tümü' ? 'active' : ''"
        >
          {{ "home.All" | translate }}
        </li>
        <li
          (click)="changeCategory(category._id, category.name)"
          [ngClass]="request.categoryName == category.name ? 'active' : ''"
          *ngFor="let category of categories"
        >
          {{ category.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <div class="row">
          <div class="col-md-7">
            <label> {{ "home.Search" | translate }}</label>
            <input
              [(ngModel)]="request.search"
              type="search"
              class="form-control"
              [placeholder]="'products.Search' | translate"
            />
          </div>
          <div class="col-md-3">
            <label>{{ "home.PriceRanking" | translate }}</label>
            <select [(ngModel)]="request.priceFilter" class="form-control">
              <option value="0">{{ "home.Choice" | translate }}</option>
              <option value="1">
                {{ "home.IncreasingPrice" | translate }}
              </option>
              <option value="-1">
                {{ "home.DecreasingPrice" | translate }}
              </option>
            </select>
          </div>
          <div class="col-md-2">
            <label> {{ "products.Operations" | translate }}</label
            ><br />
            <button (click)="getAll()" class="btn btn-primary">
              {{ "home.List" | translate }}
            </button>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-4" *ngFor="let product of products; let i = index">
          <div class="card text-center">
            <div class="card-header">
              <h1>{{ product.name }}</h1>
            </div>
            <div class="card-body">
              <img
                [src]="imageUrl + product.imageUrls[0].path"
                alt=""
                width="200"
                height="160"
              />
              <p>
                <strong>
                  {{ "home.RemainingQuantity" | translate }}
                  {{ product.stock }}</strong
                >
              </p>
              <hr />
              <h4 class="alert alert-danger">
                {{ "products.Price" | translate }}
                {{ product.price | trCurrency : "₺" }}
              </h4>
              <button
                (click)="addBasket(product._id, product.price)"
                *ngIf="product.stock > 0"
                class="btn btn-outline-success w-100"
              >
                {{ "home.AddBasket" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-blank>
