<app-blank
  [title]="'products.ProductAdd' | translate"
  [sectionTitle]="'products.ProductAdd' | translate"
>
  <div class="row center">
    <div class="col-md-6">
      <form #addForm="ngForm" autocomplete="off" (ngSubmit)="add(addForm)">
        <div class="form-group">
          <label for="name">{{ "products.ProductName" | translate }}</label>
          <input
            type="text"
            name="name"
            id="name"
            ngModel
            required
            #name
            minlength="3"
            class="form-control"
            [appValid]="name.validity.valid"
          />
          <div class="invalid-feedback">
            {{ "products.NameMessage" | translate }}
          </div>
        </div>
        <div class="form-group mt-2">
          <label for="categoriesSelect">{{
            "products.ProductCategories" | translate
          }}</label>
          <select
            class="form-control"
            name="categoriesSelect"
            id="categoriesSelect"
            ngModel
            multiple
            #categoriesSelect
          >
            <option *ngFor="let category of categories" [value]="category._id">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div class="form-group mt-2">
          <label for="stock">{{ "products.ProductStock" | translate }}</label>
          <input
            type="number"
            name="stock"
            id="stock"
            ngModel
            required
            #stock
            min="1"
            class="form-control"
            [appValid]="stock.validity.valid"
          />
          <div class="invalid-feedback">
            {{ "products.StockMessage" | translate }}
          </div>
        </div>
        <div class="form-group mt-2">
          <label for="price">{{ "products.Price" | translate }}</label>
          <input
            type="number"
            name="price"
            id="price"
            ngModel
            required
            #price
            min="1"
            class="form-control"
            [appValid]="price.validity.valid"
          />
          <div class="invalid-feedback">
            {{ "products.PriceMessage" | translate }}
          </div>
        </div>
        <div class="form-group mt-2">
          <label for="images">{{ "products.ProductImage" | translate }}</label>
          <input
            type="file"
            name="images"
            id="images"
            ngModel
            multiple
            class="form-control"
            (change)="getImages($event)"
          />
        </div>
        <hr />
        <div class="form-group mt-2">
          <p>{{ "products.SelectedImage" | translate }}</p>
          <span
            (click)="removeImage(image.name, image.size, i)"
            *ngFor="let image of imageUrls; let i = index"
          >
            <img [src]="image.imageUrl" width="100" class="mx-1" />
          </span>
        </div>
        <div class="form-group mt-2">
          <button class="btn btn-primary w-100">
            {{ "categories.Save" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</app-blank>
